<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /legal/gpg
	
	RewriteCond %{QUERY_STRING} ^(\w+)=(\w+)$
	RewriteRule policy\.([0-9]{8})$ policy/$1/%2?	[R,L]

	RewriteRule policy\.([0-9]{8})$ policy/$1	[R,L]

	RewriteRule policy\.([0-9]{8})\.([A-Za-z0-9]{8})\.sign$ \
		    signature/$1/$2			[R,L]

	RewriteRule ^$ /legal/gpg			[R,L]
</IfModule>
